.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
resources/*/*.storyboardc
ib.xcodeproj
*.storyboardc

.DS_Store

vendor/Pods/*

nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
