<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02023F9FFCF44905B15631B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A6C21DA40F455AAB7DDB8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>066B1D8099EE499EA871ED68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075F7ADA85F94ACFA768320C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B5409D1A8648068A306E59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A79A38300E24FC5AABF3C92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13D3C6E9DB4E4F089B28E84E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1708595E742D4BAC86C61B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1774940A99E6458ABF513CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19590050BD3544C8B4EA5A93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C93138E7F24A348337D1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BCD0756148B41B495D4A1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D23B3549A1946FF977944CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22493928BF9A4B9FAE1DD470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24AA5628B0FD460BBF4B938B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28E12321CB8A4C3FBA660FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B61A795E70C40509AAB90CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FF6C0BAA4134402A0F058F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A63155D0AB4145B3EFCD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31579781BE2445C093C7D563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E6CBBD822E40B4B94A8FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA77E9AEEDA41F19AA97D4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40B4273FAC76413EB0D123E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464E23DDCB8D46B5A96ED7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7A9166FE5340D394AFA66C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54D47FDD393F405FB8AE4ED9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>584FE4B515C14F4CA146B845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBCF1088D1B47CCBE8E140B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D31B01410B54926AD19C303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60342F13428C499785CC7D87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636C467AA5AB4DFE930DB978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA68C21E9524CF2A9797E81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78AA974DE6874C0BB9BA4B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E47B9573ABC43E2BC6E9836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81F87A7B63DE4AFB854B8206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822F8A56050D4C56BF5FED0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843359DBAF5B47648F1BD82B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EF312ACA138439089BAD9B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96995C5C54BA4C448E4B6EE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97CE2589DC8847E7B9ED392B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9854D7C587844B979D4A308C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F030F8BB5A4C7795CE12A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9934CC41FB1D44D78FAC56E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C285D60069F4729ADDFAAEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EA0F8ECD4694490894142D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F38CFE9DF514F5CBD89D07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0581DE996B94ABD8C22D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1D4C5B4CFF844D483C5DBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A343F76F268D430E8C8D8374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7BA9E1D7FF4438D80EA9F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8E6EEF57E2A43DDB233DF4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB19B7D47D7149299943E978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19E0385BB084F528DCEC097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B65787D1D3D34BE68EECA4AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC77971CEB604F638DDCC991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEFCC66F34C64547BBD9B1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F387FCCAC5467B85B2DD0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E8A93E31E048D890DB0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6A44FF1F2084645B9C15DEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6C9332BEC8C4E488E8EE1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5E7D57391F4FFE8D216C50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAF9C8D75B064608BFCFD6A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19DCDE05D0F4373A848BD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D596E6ED06DB4E80A91A1865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D65AE5F804644CEE9D8577DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D73DEA8A4C594C6DBAE9A665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0BA76784D4B4AC59D712B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E16125571105400EB4A8B72D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4450B02F5384CAA830583C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BB2522C5C648EEBD5B294B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81B211F7C204E46BCD5D7BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81B3E851C434E68883C26AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0596C626B264818A9CB6029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F16A56B408A34047B95DD8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2EECD90F97F4DC6B3F073E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F35783251CA14605AA3D591E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F363CBF430A343B7B7F7CE28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D456F5CC8C4DD2AE8C4CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D5145399CF42BD876E78A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58F1DED767D4EDB80E00168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F777A4559AC047D192AF8B86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8D876C4459C4FAE8A4D856F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD35C6294B441CE833A386B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBFBE2A58FA54D49A1B8E7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4D262C5A1F42B385BAD197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF64A15403914C6CAA580457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF4C6BBCC5E471FA85E860B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
